# Site settings
title: "Basket Devil: Shopping basket analysis for retailers"
description: "Data science services supporting small retailers including free shopping basket analysis"
baseurl: "" # the subpath of your site, e.g. /blog
permalink: pretty
url: "https://www.basketdevil.com" # the base hostname & protocol for your sites
#federalist_url: "https://federalist.18f.gov"
localhost: "localhost:4000"
env: "production"
logo: /assets/img/logos/tailicon.png
github_repo: https://github.com/gtraines/bd-site


analytics:
  google:
    code: ''

collections:
  about:
    output: true
    permalink: /:path/
  how-it-works:
    output: true
    permalink: /how-it-works/:path/
  contact:
    output: false
    permalink: /contact/:path/

defaults:
 -
  scope:
    path: "pages"
  values:
    layout: default-intro
 -
  scope:
    path: "_contact"
  values:
    layout: default-intro
    # include_subnav: true
    subnav_anchor: /contact/
 -
  scope:
    path: "_about"
  values:
    layout: default-intro
    include_subnav: true
    subnav_anchor: /about/

frontmatter_tests:
  path: "tests/schema"

footer:
  image: /assets/img/logos/tailicon.png
  email:
  twitter:
  text: From checkout data to actionable insights # Change to a tag line for your agency

# Build settings
markdown: kramdown
highlighter: rouge

exclude:
- .about.yml
- .cfignore
- .codeclimate.yml
- .gitignore
- .gitmodules
- .hound.yml
- 404.html
- api-endpoints
- bin
- build
- circle.yml
- config_blog.rb
- CONTRIBUTING.md
- docker-compose.yml
- docker_entrypoint.rb
- Dockerfile
- examples/
- favicon.ico
- Gemfile*
- ISSUE_TEMPLATE.md
- killport
- LICENSE.md
- node_modules
- package.json
- pages/our-work.html
- PULL_REQUEST_TEMPLATE.md
- README.md
- spec/
- system-security-plan.yml
- tests/
- tests/schema/tags.yml
- tmp/
- vendor

# jekyll plugins
gems:
  - jekyll-sitemap
  - jekyll-archives
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-paginate

# Configuration for jekyll_pages_api_search plugin gem.
jekyll_pages_api_search:
  # Uncomment this to speed up site generation while developing.
  #skip_index: true

  # Each member of `index_fields` should correspond to a field generated by
  # the jekyll_pages_api. It can hold an optional `boost` member as a signal
  # to Lunr.js to weight the field more highly (default is 1).
  index_fields:
    title:
      boost: 10
    tags:
      boost: 10
    url:
      boost: 5
    body:
