<link rel="stylesheet" href='{{ "/assets/fonts/font-awesome.css" | prepend: site.baseurl }}' media="all" />
<link rel="stylesheet" href='{{ "/assets/js/angular/angular-csp.css" | prepend: site.baseurl }}' media="all" />


<script src="{{ '/assets/js/angular/angular.js' | prepend: site.baseurl  }}"></script>
<script src="{{ '/assets/js/angular/angular-animate.js' | prepend: site.baseurl  }}"></script>
<script src="{{ '/assets/js/angular/angular-route.js' | prepend: site.baseurl  }}"></script>
<script src="{{ '/assets/js/angular/angular-sanitize.js' | prepend: site.baseurl  }}"></script>
<!--<script src="{{ '/assets/js/angular/angular-ui-bootstrap/ui-bootstrap.js' | prepend: site.baseurl  }}"></script>
<script src="{{ '/assets/js/angular/angular-ui-bootstrap/ui-bootstrap-tpls.js' | prepend: site.baseurl  }}"></script>-->
<script src="{{ '/assets/js/angular/spin.js/spin.js' | prepend: site.baseurl  }}"></script>

<script src="{{ '/assets/js/app/app.js' | prepend: site.baseurl  }}"></script>
<script src="{{ '/assets/js/app/registration/register.svc.js' | prepend: site.baseurl  }}"></script>
<script src="{{ '/assets/js/app/registration/register.ctrl.js' | prepend: site.baseurl  }}"></script>