<div class="usa-section background-medium">
    <div class="usa-grid usa-flex usa-flex-baseline">
      <div class="usa-width-one-third h3">Ready to see new patterns?</div>
      <div>
        <p>
           Want to see what surprises your data has in store? We’d love to talk more, answer your questions, or help you gather and prepare your data for analysis.
        </p>
          <a href="{{ site.baseurl }}/contact/"><button class="usa-button usa-button-secondary marginless">Contact us</button></a>
          <a href="{{ site.baseurl }}/contact/"><button class="usa-button usa-button-secondary marginless">Start using the app</button></a>
      </div>
    </div>
  </div>
