---
permalink: /
layout: default
title: Home
redirect_from: /dashboard/
---

<section class="background-dark">
  <section class="hero hero-primary">
    <div class="usa-grid">
      <div class="hero-callout hero-callout-primary background-dark usa-width-one-third usa-width-tablet">
        <h2>Create irresistible temptation for your customers</h2>
        <h4>They're already telling you how</h4>
        <a href="{{ site.baseurl }}/sign-up/" tabindex="-1"><button class="usa-button usa-button-big usa-button-secondary">Find out how, <i>free</i></button></a>
      </div>
    </div>
  </section>
</section>

<section class="usa-section usa-grid">
  <h2>Discover real opportunities to sell more by using your existing checkout data</h2>
  <section>
    <section class="usa-width-one-half usa-width-short-one">
      <h3 class="p-line-height p-normal pad-bottom-mobile">
        Basket Devil is an app that allows retailers to upload checkout data and receive
        real-time shopping recommendations and reports containing actionable insights.
      </h3>
    </section>
    <aside class="usa-width-one-half usa-width-shift-one">
      <div class="icon-list">
        <figure class="icon-list-image">{% include svg/icons/shopping-bag-check-symbol.svg %}</figure>
        <div class="icon-list-text">
          <p class="p-bold">Capitalize on tantalizing merchandising opportunities based on the behavior of your own customers</p>
        </div>
      </div>
      <div class="icon-list">
        <figure class="icon-list-image">{% include svg/icons/cash-register.svg %}</figure>
        <div class="icon-list-text">
          <p class="p-bold">Recommend additional items at the point-of-sale based on similar purchases</p>
        </div>
      </div>
      <div class="icon-list">
        <figure class="icon-list-image">{% include svg/icons/innovative-ways.svg %}</figure>
        <div class="icon-list-text">
          <p class="p-bold">Use data to drive customer loyalty programs and coupons</p>
        </div>
      </div>
    </aside>
  </section>
</section>

<section class="usa-section background-medium">
  <section class="usa-grid">
    <h2 class="section-heading">How it works</h2>
    <div class="usa-flex usa-flex-wrap">
      {% include card-project.html
      project = "prepare-your-data"
      %}

      {% include card-project.html
      project = "upload-your-data"
      %}

      {% include card-project.html
      project = "receive-your-insights"
      %}
    </div>
  </section>
</section>
