---
permalink: /
layout: default
title: Home
redirect_from: /dashboard/
---

<section class="background-dark">
  <section class="hero hero-primary">
    <div class="usa-grid">
      <div class="hero-callout hero-callout-primary background-dark usa-width-one-third usa-width-tablet">
        <h2>Are you missing the messages hidden in every shopping basket?</h2>
        <a href="{{ site.baseurl }}/sign-up/" tabindex="-1"><button class="usa-button usa-button-big usa-button-secondary">Find out now, free of charge</button></a>
      </div>
    </div>
  </section>
</section>

<section class="usa-section usa-grid">
  <h2>Don't miss another opportunity</h2>
  <section>
    <section class="usa-width-one-half usa-width-short-one">
      <h3 class="p-line-height p-normal pad-bottom-mobile">
        Basket Devil is an easy-to-use app enabling retailers of every kind to discover new relationships between the items they sell.
      </h3>
    </section>
    <aside class="usa-width-one-half usa-width-shift-one">
      <div class="icon-list">
        <figure class="icon-list-image">{% include svg/icons/monitor.svg %}</figure>
        <div class="icon-list-text">
          <p class="p-bold">Improve public-facing services like websites or applications</p>
        </div>
      </div>
      <div class="icon-list">
        <figure class="icon-list-image">{% include svg/icons/gavel.svg %}</figure>
        <div class="icon-list-text">
          <p class="p-bold">Implement new laws or mandates while moving your agency forward</p>
        </div>
      </div>
      <div class="icon-list">
        <figure class="icon-list-image">{% include svg/icons/folderwithclock.svg %}</figure>
        <div class="icon-list-text">
          <p class="p-bold">Digitize and streamline internal systems to reduce risk and save time</p>
        </div>
      </div>
    </aside>
  </section>
</section>

<section class="usa-section background-gray">
  <section class="usa-grid">
    <h2>Features</h2>

  </section>
</section>
